In [27]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from selenium import webdriver 
from datetime import date 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC 
from selenium.webdriver.common.by import By
from dateutil.relativedelta import relativedelta
import csv
import linecache
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import time

import warnings
warnings.filterwarnings('ignore')

In [28]:
# Connect to Driver

driver=webdriver.Chrome(r'C:/chromedriver_win32/chromedriver.exe')
driver.maximize_window()

url='https://www.flipkart.com/boat-blitz-1500-multimedia-50-w-bluetooth-home-theatre/product-reviews/itma1eb339f35e7f?pid=ACCFYWX3SM6EUDBC&lid=LSTACCFYWX3SM6EUDBCAMU1XX&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=13'
driver.get(url)

In [4]:
# Close login page
try:
    login_page=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
    login_page.click()
except: pass

In [15]:
# How many pages to scrap
start=0
end=250

# create empty list to save scrapped data

rating=[]
title=[]
review=[]

In [18]:
start=0
end=200
for page in range(start, end):
    time.sleep(4)
    ratings= driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div[1]')
    titles= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    reviews=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    for i in ratings:
        rating.append(i.text)
    for j in titles:
        title.append(j.text)
    for k in reviews:
        review.append(k.text)
    next_button= driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(next_button[1].get_attribute('href'))
        
    except:
        driver.get(next_button[0].get_attribute('href'))
        
        

        
    
len(rating), len(title), len(review)

(2070, 2070, 2070)

In [19]:
pd.DataFrame({"Title":title,"Review":review,"Rating":rating})

,Title,Review,Rating
0,Just okay,Product is good in this price...,3
1,Does the job,Super Fentastic\nSUPER bass\nsound Is Quality,3
2,Nice,Good,3
3,Nice,Its ok cost is very high,3
4,Good,It is good. But if you are goinv for thumpi ba...,3
...,...,...,...
2065,Simply awesome,Osm,5
2066,Worth every penny,Good product by boat... Just loved it,5
2067,Wonderful,Sound quality super,5
2068,Must buy!,"Value for money best buy from boat, go for it ...",5
2069,Fabulous!,Mind blowing...superb quality,5

In [20]:
watch1=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
watch2=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
watch3=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
watch4=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
watch5=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
camera=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
printer=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})

In [21]:
q=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
q1=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
q2=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
q3=pd.DataFrame({"Title":title,"Review":review,"Rating":rating})
q3

,Title,Review,Rating
0,Just okay,Product is good in this price...,3
1,Does the job,Super Fentastic\nSUPER bass\nsound Is Quality,3
2,Nice,Good,3
3,Nice,Its ok cost is very high,3
4,Good,It is good. But if you are goinv for thumpi ba...,3
...,...,...,...
2065,Simply awesome,Osm,5
2066,Worth every penny,Good product by boat... Just loved it,5
2067,Wonderful,Sound quality super,5
2068,Must buy!,"Value for money best buy from boat, go for it ...",5
2069,Fabulous!,Mind blowing...superb quality,5

In [25]:
pd.concat([watch1,watch2,watch3,watch4,watch5,camera,printer], ignore_index = True).to_csv('data1.csv')